

/*Limpeza de atributos pré estabelecido no css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin:auto;
}


/* congelamento de tela */
#containerTotal{
    max-width: 1900px;
    min-width: 1000px;
}